body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background: #fafafa;
  color: #333;
}

header {
  background: #111;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  background: url(https://www.hepsiburada.com/hayatburada/wp-content/uploads/2021/10/shutterstock_1933100570.jpg) center/cover no-repeat;
  color: white;
  text-align: center;
  padding: 100px 20px;
}

.hero button {
  background: #ff4081;
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
}

.catalog {
  text-align: center;
  padding: 50px 20px;
}

.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 30px;
}

.product {
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 20px;
  width: 250px;
}

.product img {
  width: 100%;
  border-radius: 10px;
}

button {
  background: #111;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
}

footer {
  background: #111;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  margin-top: 50px;
}